

button {
    position: absolute;
    top: 50%;
    left: 50%;
  }

 
.button1{
    background-color:darkgrey;
    border: none;
    color:black;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:4px 4px;
    cursor:pointer;

}